  bodythree {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: lavender;
  }

  a.downloadbutton {
      --clr: #00ccff;
      --i: 0;
      position: relative;
      padding: 20px 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px;
      transition: 1s;
  }

  a.downloadbutton:hover {
      background: var(--clr);
      box-shadow: 0 0 10px var(--clr),
      0 0 30px var(--clr),
      0 0 60px var(--clr),
      0 0 100px var(--clr),
  }

  a.downloadbutton::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 400%;
      background: var(--clr);
      transition: 1s;
      animation: animate 2s linear infinite;
  }


  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
  section {
      position: relative;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h4 {
        text-align: center;
        color: #FF00FF;
    }
  
    #page-1 {
      background: #222;
    }
    #page-2 {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #111;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    section .row {
        position: relative;
        top: -50%;
        width: 100%;
        display: flex;
        padding: 10px 0;
        white-space: nowrap;
        font-size: 64px;
        transform: rotate(-30deg);
    }

    ssection i {
        color: rgba(0, 0, 0, 0.5);
        transition: 1s;
        padding: 0 5px;
        user-select: none;
        cursor: default;
    }

    ssection i:hover {
        transition: 0s;
        color: #0f0;
        text-shadow: 0 0 120px #0f0;
    }

    section .row ssection {
        animation: animate1 80s linear infinite;
        animation-delay: -80s;
    }

    section .row ssection:ntn-child(2) {
        animation: animate2 80s linear infinite;
        animation-delay: -40s;
    }

    @keyframes animate1 {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes animate2 {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-200%);
        }
    }

    section .row:nth-child(even) ssection {
        animation: animate3 80s linear infinite;
        animation-delay: -80s;
    }

    section .row:nth-child(even) ssection:ntn-child(2) {
        animation: animate4 80s linear infinite;
        animation-delay: -40s;
    }

    @keyframes animate3 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes animate4 {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    ol li {
        color: rgb(243, 66, 66);
        background: #222;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
  
    .scroll-down {
      height: 50px;
      width: 30px;
      border: 2px solid white;
      position: absolute;
      left: 50%;
      bottom: 20px;
      border-radius: 50px;
      cursor: pointer;
    }
    .scroll-down::before,
    .scroll-down::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      height: 10px;
      width: 10px;
      transform: translate(-50%, -100%) rotate(45deg);
      border: 2px solid white;
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }
    .scroll-down::before {
      top: 30%;
      animation-delay: 0.3s;
      /* animation: scroll-down 1s ease-in-out infinite; */
    }
    
    @keyframes scroll-down {
      0% {
        /* top:20%; */
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        top: 90%;
        opacity: 0;
      }
    }
  
    bodytwo {
      background: #222;
      min-height: 100vh;
      display: grid;
      place-items: center;
      color: white;
      font-family: sans-serif;
      scroll-behavior: smooth;
    }
    
    .glitch {
      font-size: 8rem;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
    
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    
      animation: glitch 500ms infinite;
    }
    
    .glitch span {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .glitch span:first-child {
      animation: glitch 650ms infinite;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      transform: translate(-0.025em, -0.0125em);
      /* color: green; */
      opacity: 0.8;
    }
    
    .glitch span:last-child {
      animation: glitch 375ms infinite;
      clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
      transform: translate(0.0125em, 0.025em);
      /* color: red; */
      opacity: 0.8;
    }
    
    /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
    
    @keyframes glitch {
      0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      }
      14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
          -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
          -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      }
      15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
          0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
          -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
          0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
          0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
          -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
          -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
    }
    
    @media (prefers-reduced-motion: reduce) {
      *,
      ::before,
      ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
      }
    } 
      