#historypage {
    background: rgb(192, 221, 224);    
}

h1.history {
  text-align: center;
  font-size: 4em;
}

.extension {
    color: black;
    text-align: left;
    list-style-position: inside;
    font-size: 2em;
    padding-left: 10%;
    margin: 20%;
    display: inline-block;
}


table, th, td {
    border: 1px black solid;
    
}

/*
gap: 10px 2em;
*/

th {
    letter-spacing: 2px;
    background-color: gray;
    color: white;
}

th, td {
    padding: 10px;
    padding: 20px;
}

tbody td {
    text-align: center;
    word-break: break-all;
}

/*
display: block;
*/

td {
    letter-spacing: 1px;
    text-align: center;
}

tr:hover {
    background-color: lightgray;
}

table {
    width: 100%;
    border: 5px;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }

/*tr:nth-child(even) {
    background-color: lightgray;
}
*/

.tablecontent {
    display: block;
}
