.container {
    background: rgb(247, 208, 161);
    padding: 0;
    margin: 0;
}

table, th, td {
    border: 1px black solid;
    gap: 10px 2em;
}

th {
    
    background-color: gray;
    color: white;
}

th, td {
    padding: 10px;
}

td {
    height: 40px;
    vertical-align: bottom;
}

tr:hover {
    background-color: lightgray;
}

table {
    width: 100%;
    border: 2px;
}

/*tr:nth-child(even) {
    background-color: lightgray;
}
*/

.tablecontent {
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-auto-rows: (150px, auto);
}